
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    A kosarad üres.
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
    <h5>A kosár tartalma: </h5>
    <table class="table table-striped ngCart cart">
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><a href="#book/{{item.getId()}}">{{item.getName()}}</a></td>
            <td>
                <button ng-click="ngCart.removeItemById(item.getId())" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </td>
        </tr>
    </table>
</div>
<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>