<!DOCTYPE html>
<html>
   <head>
      <title>Könyv webáruház</title>
   </head>
   <body>
      <div class="container-fluid">
         <h2 id="hdr"></h2>

         <form id="myForm" class="form-inline form-search" name="myForm">
            <label>Könyv címe:
            <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium" />
            </label>
            <button class="btn btn-primary" ng-click="searchBook()">Keresés</button>
         </form>

         <section class="book-list">
            <ul>
               <li ng-repeat="item in bookResults | orderBy:orderProp">
                  <a ng-href="#!book">{{item.volumeInfo.title}}</a>
                  <br />
                  By: {{item.volumeInfo.authors}}
                  <br />
                  Published: {{item.volumeInfo.publisher}}, {{item.volumeInfo.publishedDate}}
               </li>
            </ul>
        </section>

      </div>
   </body>
</html>
<!--<img ng-src="{{item.volumeInfo.imageLinks.smallThumbnail}}" />-->